# Ignore cache module
config/__pycache__
__pycache__

# Ignore API Credentials
config/lh_access.py
config/lh_api_access.json

# Ignore log files
logs/*

# Ignore files, at least for now
files/*

# Ignore generated .svg from d2
data_modeling/*.svg

sql_test
config/sf_access.toml
config/connections.toml
